<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shubang</title>
    
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/index.css">

</head>
<body>
    <header class="container row pos-start">
        <div class="container">
            <a href="/"><h1>Shuhbang</h1></a>
            <h2 class="tab thin float">Stop looking ahead.</h2>
        </div>
        {{#if logged_in}}
        <div style="width: 30%; align-items: flex-end" class="row container tabtab pos-start">
            <a class="narrow" href="/calendar">My Calendar</a>
            <a class="narrow" href="/goals">My Goals</a>
            <a class="narrow" href="/stats">Stats</a>
        </div>
        <div style="width: 40%; align-items: flex-end" class="row container tabtab pos-end">
            <a class="narrow logout" onclick="logout()">Logout</a> 
        </div>
        {{/if}}
        <label class="switch">
            <i class="far fa-moon"></i>
            <input type="checkbox" id="dark-mode-switch">
            <span class="slider round"></span>
        </label>
    </header>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
{{{body}}}

    
    <script src="/js/index.js"></script>
    
</body>
</html>