<hr class="narrow">
<div class="container row space-even text-center">
    <a class="display thinner short click" onclick="minusMonth()"><</a>
    <h1 class="display short" id="month-display">Month</h1>
    <a class="display thinner short click" onclick="plusMonth()">></a>
</div>
<div class="calendar narrow shorter row wrap space-even container" id="calendar">
    
</div>

<script src="https://cdn.jsdelivr.net/npm/luxon@1.26.0/build/global/luxon.min.js"></script>
<script src="/js/calendar.js"></script>