    
    <div class="container-half pos-end">
        <div class="centered text-center ">
            <h1 class="display thinner">focus on today</h1>
            <div class="container row">
                <button id="signup-form-button">Register</button>
                <div class="line"></div>
                <button id="login-form-button">Sign in</button>
            </div>
        </div>
    </div>

    <!-- Login  -->
    
    <div class="login container">
        <form id="login-form">
            <label for="username">Username:</label>
            <input type="text" placeholder="Username"name="username">
            <label for="password">Password:</label>
            <input type="password" placeholder="Password"name="password">
            <div class="text-center">
                <button id="login-button" class="btn-dark" >Sign in</button>
            </div>
        </form>
    </div>


    <!-- Sign Up -->

    <div class="signup container-fluid">
        <form id="register-form">
            <label for="username">Username:</label>
            <input type="text" placeholder="Username"name="username">
            <label for="password">Password:</label>
            <input type="password" placeholder="Password"name="password">
            <label for="email">Email:</label>
            <input type="email" placeholder="Email"name="email">
            <div class="text-center">
                <button id="register-button" class="btn-dark" >Register</button>
            </div>
        </form>
    </div>

    
    <script src="/js/home.js"></script>