.login{
    position: fixed;
    z-index: 1;
    top: 60%;
    left: 100%;   
    overflow: auto;
    opacity: 0;
    transition: .5s;
}

.signup{
    position: fixed;
    z-index: 1;
    top: 60%;
    left: 100%;
    overflow: auto;
    opacity: 0;
    transition: .5s;
}

.navbar{
    width: 30%; 
    align-items: flex-end
}

#cat-select{
    z-index: 10000;
}

.greyBox{
    width: 100vw;
    height: 100vh;
    background: grey;
    opacity: .5;
    display: none;
    z-index: 500;
    position: absolute;
    top: 0;
    left: 0;
}

.date{
    min-width: 14%;
    min-height: 20%;
    box-shadow: 0 10px 1px rgba(0,0,0,.6);
    border-radius: 2em;
    transition: .25s;
}

.date:hover{
    transform: translateY(-4px);
}

.daynum{
    width: fit-content;
}

.catagory{
    box-shadow: 0 0 4px rgba(0,0,0,.6);
    border-radius: 5px;
    margin: 1rem 0;
    transition: .5s;
}

.catagory:hover{
    box-shadow: 0 0 8px rgba(0 , 0, 0, .6);
}

.logout{
    cursor: pointer;
}

.color-swatch{
    min-width: 30%;
    margin: 4px;
    background-color: green;
}

#goal-form{
    display: flex;
    justify-content: center;
    align-items: center;
}

#delete{
    color: red;
}

#delete:hover{
    cursor: pointer;
}

@media screen and (max-width: 768px) {
    .login, .signup{
        top: 70%;
    }

    .navbar{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .navbar a
    {
        font-size: smaller;
    }

    .logout{
        align-items: center;
    }
}

@media screen and (max-width: 425px) {
    .login, .signup{
        width: auto;
    }
}