.login{
    position: fixed;
    z-index: 1;
    top: 60%;
    left: 100%;   
    overflow: auto;
    opacity: 0;
    transition: .5s;
}

.signup{
    position: fixed;
    z-index: 1;
    top: 60%;
    left: 100%;
    overflow: auto;
    opacity: 0;
    transition: .5s;
}

.date{
    min-width: 14%;
    min-height: 20%;
    box-shadow: 0 10px 1px rgba(0,0,0,.6);
    border-radius: 2em;
    transition: .25s;
}

.date:hover{
    transform: translateY(-4px);
}

.daynum{
    width: fit-content;
}

.catagory{
    box-shadow: 0 0 4px rgba(0,0,0,.6);
    border-radius: 5px;
    margin: 1rem 0;
    transition: .5s;
}

.catagory:hover{
    box-shadow: 0 0 8px rgba(0 , 0, 0, .6);
}

.logout{
    cursor: pointer;
}

.color-swatch{
    min-width: 30%;
    margin: 4px;
    background-color: green;
}

@media screen and (max-width: 768px) {
    .login, .signup{
        top: 70%;
    }
}

@media screen and (max-width: 425px) {
    .login, .signup{
        width: auto;
    }
}