
/* ------------- Variables ------------- */
:root{
    --main-bg-color  : rgb(255, 255, 255);
    --extra-bg-color : rgb(209, 209, 209);
    --dark-text-color     : rgb(226, 226, 226);
    --dark-text-highlight : rgb(37, 120, 245);
    --dark-main-bg-color  : rgb(31, 31, 31);
    --dark-extra-bg-color : rgb(53, 53, 53);
    --text-color     : rgb(32, 32, 32);
    --text-highlight : rgb(37, 120, 245);
}

/* ------------- Default Elements ------------- */
*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

html,
body{
    background: var(--main-bg-color);
    color: var(--text-color);
    font-weight: 400;
    height: 100%;
}

header {
    padding: 2rem;
    /* position: fixed;
    top: 0; */
}

a{
    text-decoration: none;
    color: inherit;
}

button{
    float: inline;
    width: 7em;
    padding: .25em .25em;
    margin: 2em;
    text-align: center;
    background-color: var(--extra-bg-color);
    border-style: solid;
    border-color: var(--dark-extra-bg-color);
    border-radius: .25em;
    color: var(--text-color); 
    transition: .25s;
}

button:hover{
    background: var(--main-bg-color);
    box-shadow: 0 5px 8px rgba(0, 0, 0, .5);
}

button:focus{
    background: var(--main-bg-color);
    box-shadow: 0 5px 8px rgba(0, 0, 0, .5);
}

button:visited{
    background-color: var(--extra-bg-color);
    border-style: solid;
    border-color: var(--dark-extra-bg-color);
}

.btn-dark{
    float: inline;
    width: 7em;
    padding: .25em .25em;
    margin: 2em;
    text-align: center;
    background-color: var(--dark-extra-bg-color);
    border-style: solid;
    border-color: var(--extra-bg-color);
    border-radius: .25em;
    color: var(--dark-text-color);
}

.btn-dark:hover{
    background: var(--dark-main-bg-color);
    box-shadow: 0 5px 8px rgba(0, 0, 0, .5);
}

.btn-dark:focus{
    background: var(--dark-main-bg-color);
    box-shadow: 0 5px 8px rgba(0, 0, 0, .5);
}

.btn-dark:visited{
    background-color: var(--extra-bg-color);
    border-style: solid;
    border-color: var(--dark-extra-bg-color);
}

input{
    background: var(--dark-bg-color);
    border: none;    
    border-bottom:solid 1px;
    border-color: var(--dark-text-color);
    color: var(--text-color);
    margin: .5rem;
}

input:focus{
    border: none;
    outline: none;
}

/* ------------- Modal ------------- */
.modal{
    display: none;
    position: fixed;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 45%;
    overflow: auto;
    background: var(--dark-main-bg-color);
    border: solid 1px var(--extra-bg-color);
    color: var(--dark-text-color);
    border-radius: 2rem;
}

.modal-content{
    margin: 1rem;;
}

/* ------------- Slider ------------- */
/* The switch - the box around the slider */
.switch {
  position: fixed;
  right: 10px;
  top: 10px;
  display: inline-block;
  width: 35px;
  height: 15px;
}

.switch i{
    position: relative;
    right: 19px;
    top: -2px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--dark-extra-bg-color);
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 1px;
  bottom: 1px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: var(--extra-bg-color);
}

input:focus + .slider {
  box-shadow: 0 0 1px var(--extra-bg-color);
}

input:checked + .slider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/* ------------- Page Elements Extras ------------- */
.vline{
    border: solid 1px var(--dark-text-color);
    margin: 2em;
    height: 1em;
}

.line{
    border: solid 1px var(--text-color);
    margin: 2em;
    width: 0;
    height: 1em;
}

.container-full{
    display: flex;
    flex-flow: column nowrap;
    height: 100%;
    justify-content: center;
}

.container-half{
    display: flex;
    flex-flow: column nowrap;
    height: 50%;
    justify-content: center;
}

.container{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-content: center;
}

.wrap{
    flex-wrap: wrap;
}
.row{
    flex-direction: row;
}

.pos-end{
    justify-content: flex-end;
}

.space-even{
    justify-content: space-evenly;
}

/* ------------- Utilities ------------- */
.click{
    cursor: pointer;
}
.tab{
    margin-left: 1rem;
}

.tabtab{
    margin-left: 2rem;
}

.narrow{
    margin: 0 1rem;
}

.narrower{
    margin: 0 2rem;
}

.short{
    margin: 1rem 0;
}

.shorter{
    margin: 2rem 0;
}
/* ------------- TEXT & FONT ------------- */
.text-center{
    text-align: center;
}

.display{
    font-size: 5em;
}

.thin{
    font-weight: 300;
}

.thinner{
    font-weight: 100;
}

.heavy{
    font-weight: 500;
}

.heavier{
    font-weight: 700;
}

.bg-dark{
    background: var(--dark-main-bg-color);
}

.bg-dark-extra{
    background: var(--dark-extra-bg-color);
}

.bg-lite{
    background: var(--main-bg-color);
}

.bg-lite-extra{
    background: var(--extra-bg-color);
}

.text-lite{
    color:  var(--dark-text-color);
}

.text-lite-highlight{
    color: var(--dark-text-highlight);
}

.text-dark{
    color: var(--text-color);
}

.text-dark-highlight{
    color: var(--text-highlight);
}

